## -*- coding: utf-8 -*-

<%inherit file="../base_template.html"/>

<%block name="previous">/hyper</%block>

<%block name="header">
    Ipercubo - Sommatoria
</%block>

<%block name="code">
def SUM_HYPERCUBE(self, propagate=False):
	k = self.k
	
	# Summation
	for d in reversed(range(k)):
		forall i as P where i in range(0, 2**d) do in parallel using d:
			P['b'] = P.getfrom('a', i + 2**d)
			P['a'] = P['a'] + P['b']
	
	# Propagation
	if not propagate: return
	for d in range(k):
		forall i as P where i in range(2**d, 2**(d+1)) do in parallel using d:
			P['b'] = P.getfrom('a', i - 2**d)
			P['a'] = P['b']
</%block>

<%block name="input_form">
	Inserire il vettore <i>a</i> di lunghezza potenza di 2 di cui si vuole effettuare la sommatoria e 
	"True" o "False" nel campo <i>propaga</i> ad indicare se si vuole propagare o meno il risultato a tutti
	i processori dell'ipercubo:
	
	<form method="post" action="/hyper/sum/exec">
		a = <input type="text" name="a" value="[ random.randint(0,10) for i in range(2**8) ]" size="50" />
		<br />
		propaga = <input type="text" name="propagate" value="False" size="10" />
		<br />
		<input type="submit" value="Esegui" />
	</form>
	
	<ul>
		<li>
			<i>Nota</i>: È possibile usare le funzioni delle librerie di Python <i>math</i> e <i>random</i>.
		</li>
		<li>
			<i>Esempio</i>: "[ random.randint(0,10) for i in range(2**8) ]" crea
			un vettore di 2<sup>8</sup> interi random compresi tra 0 e 10.
		</li>
	</ul>
</%block>

<%block name="input_text">
	Eseguita sommatoria su ipercubo con input:
</%block>
<%block name="output_text">
	Al termine della computazione l'ipercubo contiene nelle variabili <i>a</i>:
</%block>
