<!DOCTYPE html>
<html>
	<body>

		<h1><a href="/">&crarr;</a> PRAM</h1>
		
		<ul>
			<li><a href="/pram/replicate">Replica</a></li>
			<li><a href="/pram/sum">Sommatoria</a></li>
			<li><a href="/pram/sum_opt">Sommatoria ottima</a></li>
			<!--li><a href="/pram/associative_op">Operazione associativa</a></li-->
			<li><a href="/pram/prefix_sum">Somme prefisse</a></li>
			<li><a href="/pram/tournament_crew">Torneo CREW</a></li>
			<li><a href="/pram/tournament_erew">Torneo EREW</a></li>
		</ul>

	</body>
</html>
