## -*- coding: utf-8 -*-

<%inherit file="../base_template.html"/>

<%block name="previous">/mesh</%block>

<%block name="header">
    Mesh Ciclica - Moltiplicazione di matrici
</%block>

<%block name="code">
def MATRIX_MULTIPLICATION_CYCLIC_MESH(self):
	n = self.n
	
	# Positioning of all elements
	for p in range(0, n-1):
		forall (i,j) as P where i in range(0, n) where j in range(0, n) do in parallel using p,n:
			if i > p: P['a'] = P.getfrom('a', i, (j+1)%n)
			if j > p: P['b'] = P.getfrom('b', (i+1)%n, j)
	
	# Set all c's to zero
	forall (i,j) as P where i in range(0, n) where j in range(0, n) do in parallel:
		P['c'] = 0
	
	# Compute actual matrix multiplication
	for q in range(0, n):
		forall (i,j) as P where i in range(0, n) where j in range(0, n) do in parallel using n:
			P['c'] = P['c'] + P['a'] * P['b']
			P['a'] = P.getfrom('a', i, (j+1)%n)
			P['b'] = P.getfrom('b', (i+1)%n, j)
</%block>

<%block name="input_form">
	Inserire la matrici <i>a</i> e <i>b</i> (di dimensioni nxn dove <i>n</i> = <i>p</i><sup>2</sup> per un
	certo <i>p</i>) che si vogliono moltiplicare:
	
	<form method="post" action="/mesh/multmatrix/exec">
		a = <input type="text" name="a" value="1,2,3,4; 1,2,3,4; 1,2,3,4; 1,2,3,4" size="50" />
		<br />
		b = <input type="text" name="b" value="1,2,3,4; 1,2,3,4; 1,2,3,4; 1,2,3,4" size="50" />
		<br />
		<input type="submit" value="Esegui" />
	</form>
	
	<ul>
		<li>
			<i>Nota</i>: Immettere stringhe nel formato di <i>numpy.matrix</i>.
		</li>
	</ul>
</%block>

<%block name="input_text">
	Eseguita moltiplicazione delle seguenti matrici su mesh ciclica:
</%block>
<%block name="output_text">
	Al termine della computazione la mesh contiene nelle variabili <i>c</i> la seguente matrice:
</%block>
